In [1]:
import time
import pandas as pd
import numpy as np
import columnExpander
from ast import literal_eval

In [2]:
data_file_path = "./data/total_merged.csv"
df = pd.read_csv(data_file_path, index_col = 0)

In [3]:
df.shape

(11225, 16)

In [4]:
df.head()

,alias,categories,coordinates,display_phone,distance,id,image_url,is_closed,location,name,phone,price,rating,review_count,transactions,url
0,mos-original-brooklyn,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...","{'latitude': 40.66127, 'longitude': -73.95342}",(718) 513-0698,1542.617156,YwpP-mgXV5N35xhLibLw5g,https://s3-media2.fl.yelpcdn.com/bphoto/-L9roT...,False,"{'address1': '453 Rogers Ave', 'address2': Non...",Mo's Original,1.718513e+10,NaN,4.5,32,[],https://www.yelp.com/biz/mos-original-brooklyn...
1,peaches-hothouse-brooklyn,"[{'alias': 'southern', 'title': 'Southern'}, {...","{'latitude': 40.6833699737169, 'longitude': -7...",(718) 483-9111,3471.525420,GA5msU6NO9rQRctPfDJCBg,https://s3-media1.fl.yelpcdn.com/bphoto/KEAXgZ...,False,"{'address1': '415 Tompkins Ave', 'address2': '...",Peaches HotHouse,1.718484e+10,$$,4.0,1082,"['pickup', 'delivery']",https://www.yelp.com/biz/peaches-hothouse-broo...
2,claw-daddys-brooklyn,"[{'alias': 'cajun', 'title': 'Cajun/Creole'}, ...","{'latitude': 40.68561, 'longitude': -73.98035}",(347) 318-8893,5062.337404,1x2hn3e9sCCZca1cnRTpEg,https://s3-media3.fl.yelpcdn.com/bphoto/ABHo2x...,False,"{'address1': '31 3rd Ave', 'address2': '', 'ad...",Claw Daddy's,1.347319e+10,$$,4.0,282,['restaurant_reservation'],https://www.yelp.com/biz/claw-daddys-brooklyn?...
3,barons-brooklyn,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 40.6908116, 'longitude': -73.953915}",(718) 230-7100,4451.492133,GxMhN2PEttvw7CRGIzB6Gg,https://s3-media3.fl.yelpcdn.com/bphoto/VmnsId...,False,"{'address1': '564 Dekalb Ave', 'address2': '',...",Baron's,1.718231e+10,$$,4.5,258,"['pickup', 'restaurant_reservation']",https://www.yelp.com/biz/barons-brooklyn?adjus...
4,lowerline-brooklyn-2,"[{'alias': 'cajun', 'title': 'Cajun/Creole'}, ...","{'latitude': 40.67421, 'longitude': -73.96324}",(347) 533-7110,3158.955607,swKXaURwqdSrSTcpHsxdbA,https://s3-media4.fl.yelpcdn.com/bphoto/oJbAhL...,False,"{'address1': '794 Washington Ave', 'address2':...",Lowerline,1.347534e+10,$$,4.5,118,[],https://www.yelp.com/biz/lowerline-brooklyn-2?...

Need to unpack: categories, location (zip & city), transactions

In [5]:
def convert_string_dict_to_string(string, key):
    return ",".join([dic[key] for dic in literal_eval(string)])

In [6]:
df["categories"] = df["categories"].map(lambda s: convert_string_dict_to_string(s,"alias"))

In [7]:
def convert_string_list_to_string(string):
    return ",".join(literal_eval(string))

In [8]:
df["transactions"] = df["transactions"].map(convert_string_list_to_string)

In [9]:
def get_keys_from_sting_dict(string, keys):
    if len(string) == 0:
        return None
    dic = literal_eval(string)
    out = {}
    for key in keys:
        out[key] = dic.get(key)
    return out

In [10]:
keys = ["zip_code", "city"]
zips_and_cities = df["location"].map(lambda string: get_keys_from_sting_dict(string, keys))

In [11]:
for key in keys:
    df[key] = [pair[key] for pair in zips_and_cities]

In [12]:
df.head()

,alias,categories,coordinates,display_phone,distance,id,image_url,is_closed,location,name,phone,price,rating,review_count,transactions,url,zip_code,city
0,mos-original-brooklyn,"ramen, bbq, comfortfood","{'latitude': 40.66127, 'longitude': -73.95342}",(718) 513-0698,1542.617156,YwpP-mgXV5N35xhLibLw5g,https://s3-media2.fl.yelpcdn.com/bphoto/-L9roT...,False,"{'address1': '453 Rogers Ave', 'address2': Non...",Mo's Original,1.718513e+10,NaN,4.5,32,,https://www.yelp.com/biz/mos-original-brooklyn...,11225,Brooklyn
1,peaches-hothouse-brooklyn,"southern, tradamerican, bars","{'latitude': 40.6833699737169, 'longitude': -7...",(718) 483-9111,3471.525420,GA5msU6NO9rQRctPfDJCBg,https://s3-media1.fl.yelpcdn.com/bphoto/KEAXgZ...,False,"{'address1': '415 Tompkins Ave', 'address2': '...",Peaches HotHouse,1.718484e+10,$$,4.0,1082,"pickup, delivery",https://www.yelp.com/biz/peaches-hothouse-broo...,11216,Brooklyn
2,claw-daddys-brooklyn,"cajun, seafood","{'latitude': 40.68561, 'longitude': -73.98035}",(347) 318-8893,5062.337404,1x2hn3e9sCCZca1cnRTpEg,https://s3-media3.fl.yelpcdn.com/bphoto/ABHo2x...,False,"{'address1': '31 3rd Ave', 'address2': '', 'ad...",Claw Daddy's,1.347319e+10,$$,4.0,282,restaurant_reservation,https://www.yelp.com/biz/claw-daddys-brooklyn?...,11217,Brooklyn
3,barons-brooklyn,"newamerican, bars, seafood","{'latitude': 40.6908116, 'longitude': -73.953915}",(718) 230-7100,4451.492133,GxMhN2PEttvw7CRGIzB6Gg,https://s3-media3.fl.yelpcdn.com/bphoto/VmnsId...,False,"{'address1': '564 Dekalb Ave', 'address2': '',...",Baron's,1.718231e+10,$$,4.5,258,"pickup, restaurant_reservation",https://www.yelp.com/biz/barons-brooklyn?adjus...,11205,Brooklyn
4,lowerline-brooklyn-2,"cajun, seafood, southern","{'latitude': 40.67421, 'longitude': -73.96324}",(347) 533-7110,3158.955607,swKXaURwqdSrSTcpHsxdbA,https://s3-media4.fl.yelpcdn.com/bphoto/oJbAhL...,False,"{'address1': '794 Washington Ave', 'address2':...",Lowerline,1.347534e+10,$$,4.5,118,,https://www.yelp.com/biz/lowerline-brooklyn-2?...,11238,Brooklyn

In [13]:
# Grabbing subset to experiment with
small_df = df

In [14]:
lce = columnExpander.ListColumnExpander(["categories","transactions"])

In [15]:
lce.fit(small_df)

In [16]:
x = lce.transform(small_df)

In [20]:
pd.DataFrame(x.toarray(), columns= lce.get_feature_names()).head()

,categories_ramen,categories_caribbean,categories_musicvenues,categories_creperies,categories_seafood,categories_asianfusion,categories_korean,categories_soulfood,categories_senegalese,categories_fishnchips,...,categories_soup,categories_mexican,categories_argentine,categories_tradamerican,categories_steak,categories_french,transactions_,transactions_restaurant_reservation,transactions_delivery,transactions_pickup
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## Requesting data

In [ ]:
import requests
import time

In [ ]:
URL = 'https://api.yelp.com/v3/businesses/search'
API_KEY = '3TjUrfMsEdbVfUKeiU31J7vFJyZp20FKhSg_OJni2TOL_Lo8A9-Z0WG_T3_jFeGzh3-WBtszKN1AAFPuYLh-7mJ7sxP2YdMalw_D5y4ExcXL3c0xUST3Sp-OIGMvXXYx'

params = {
    'location': '129 Elmwood Ave, Brooklyn, NY 11230',
    'limit': 50,
    'offset': 0,
    'sort_by': 'rating'
}

headers = {'Authorization': 'bearer %s' % API_KEY}

businesses = []
iters = 20
for i in range(iters):
    resp = requests.get(url=URL, params = params, headers = headers)
    if resp.status_code != 200:
        print(f"Stopped early: status code = {resp.status_code}")
        break
    biz = resp.json()["businesses"]
    if len(biz) == 0:
        print("No more businesses")
        break
    businesses.extend(biz)
    params["offset"] += len(biz)
    if i < iters - 1:
        time.sleep(1)
    print("Iteration #{}".format(i+1))
print(len(businesses))

In [ ]:
biz_df = pd.DataFrame(businesses)
merged = merged.append(biz_df)
merged.shape

In [ ]:
dropped = merged.astype(str).drop_duplicates("id")
dropped.shape

In [ ]:
dropped.to_csv("merged_12.csv")